<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skripsi.spreco">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartphoneRecommender"
        tools:targetApi="31">
        <activity
            android:name=".accountAuth.register"
            android:exported="false"
            android:theme="@style/Theme.SmartphoneRecommender.NoActionBar"/>
        <activity
            android:name=".accountAuth.login"
            android:exported="true"
            android:theme="@style/Theme.SmartphoneRecommender.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activityAdmin.admin_editor"
            android:exported="false" />
        <activity
            android:name=".activityUser.user_recshow"
            android:exported="false" />
        <activity
            android:name=".activityUser.user_recsettings"
            android:exported="true" />
        <activity
            android:name=".activityUser.user_spdetail"
            android:exported="true" />
        <activity
            android:name=".MainActivityUser"
            android:exported="true"
            android:label="@string/title_activity_main_user"
            android:theme="@style/Theme.SmartphoneRecommender.NoActionBar">
        </activity>
    </application>

</manifest>